<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Architecture"><directory>tests/Architecture</directory></testsuite>
        <testsuite name="Domain"><directory>tests/Domain</directory></testsuite>
        <testsuite name="Application"><directory>tests/Application</directory></testsuite>
        <testsuite name="Integration"><directory>tests/Integration</directory></testsuite>
    </testsuites>
    <source>
        <include><directory>app</directory></include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_KEY" value="base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" force="true"/>
        <env name="DB_DATABASE" value="stockflow_test" force="true"/>
        <env name="JWT_SIGNING_KEY" value="jwt_secret_signing_key_at_least_32_characters_long_for_dev" force="true"/>
        <env name="ADMIN_EMAIL" value="admin@example.com" force="true"/>
        <env name="ADMIN_PASSWORD" value="AdminPassword123!" force="true"/>
        <env name="MEDIA_ROOT" value="/tmp/media" force="true"/>
    </php>
</phpunit>
